.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.fle {
  margin: 0 30vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
