<div class="fle">
  <mat-card class="card-size">
    <mat-card-header>
      <mat-card-title>{{ sereno.apellidos | uppercase }}</mat-card-title>
      <mat-card-subtitle> {{ sereno.nombre | uppercase }} </mat-card-subtitle>
    </mat-card-header>
    <img class="image" mat-card-image [src]="sereno.imagen ? 'assets/users/'+sereno.imagen : 'assets/users/user.png'" />
    <mat-card-content>
      <p style="margin-top: 12px;">
        <strong>Nacimiento: </strong>
        {{
        sereno.nacimiento
        | date : "mediumDate" : "+0000" : "es-PE"
        | titlecase
        }}
        ({{ sereno.edad }} años)
        <br />
        <strong>Sexo: </strong> {{ sereno.genero ? "Masculino" : "Femenino" }}
        <br />
        <strong>Celular: </strong> {{ sereno.celular }}
        <br />
        <strong>Correo: </strong> {{ sereno.correo }}
        <br />
        <strong>Direccion: </strong> {{ sereno.direccion }}
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button [routerLink]="['/serenazgo/serenos/list']" mat-raised-button color="warn">
        Regresar
      </button>
      <button style="margin-left: 6px;" [routerLink]="['/serenazgo/serenos/editar', sereno.id_sereno]" mat-raised-button
        color="primary">
        Editar
      </button>
    </mat-card-actions>
  </mat-card>
</div>