<mat-toolbar color="primary">
  <span>Seguridad Ciudadana</span>
  <span class="example-spacer"></span>
  <!-- /dashboard/usuarios -->
  <button routerLink="/serenazgo/unidad" mat-button>Unidad</button>
  <button routerLink="/serenazgo/sereno" mat-button>Sereno</button>
  <button routerLink="/serenazgo/serenos" mat-button>Serenos</button>
  <button mat-button>Item 1</button>
  <button mat-button>Item 2</button>
  <button mat-button>Item 3</button>
  <span class="example-spacer"></span>
  <mat-icon>logout</mat-icon>
</mat-toolbar>

<router-outlet></router-outlet>
