<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">App</h1>
    <span class="example-spacer"></span>
    <mat-slide-toggle matTooltip="Modo oscuro" color="primary" [formControl]="toggleControl"></mat-slide-toggle>

    <button mat-icon-button matTooltip="Usuario" [matMenuTriggerFor]="menu" class="example-icon"><mat-icon>person</mat-icon></button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item routerLink="/serenazgo/user/profile">Mis perfil</button>
      <button mat-menu-item routerLink="/serenazgo/user/dashboard">Mis estadísticas</button>
    </mat-menu>

    <button mat-icon-button matTooltip="Cerrar Sesión" class="example-icon"(click)="logout()"><mat-icon>logout</mat-icon></button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" >
      <mat-nav-list style="margin-right: 5vw;">
        <a mat-list-item routerLink="/serenazgo/grupos/listado"><fa-icon [icon]="faUserLock" size="lg"></fa-icon> Denuncias</a>
        <a mat-list-item routerLink="/serenazgo/unidades/list"><fa-icon [icon]="faCarSide" size="lg"></fa-icon> Unidad</a>
        <a mat-list-item routerLink="/serenazgo/serenos"><fa-icon [icon]="faPersonMilitaryPointing" size="lg"></fa-icon> Serenos</a>
        <a mat-list-item routerLink="/serenazgo/grupos/listado"><fa-icon [icon]="faPeopleGroup" size="lg"></fa-icon> Grupos</a>
        <!-- Item Gestión de usuarios (solo visible para usuario root y administrador) -->  
        <a *ngIf="permissionsUser" mat-list-item routerLink="/serenazgo/usuarios/home"><fa-icon [icon]="faUsersGear" size="lg"></fa-icon> Usuarios</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>