<mat-card>
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>Nombres y apellidos</mat-card-title>
            <mat-card-subtitle>Diego Jose Cruz Neciosup</mat-card-subtitle>
            <mat-card-title>Genero</mat-card-title>
            <mat-card-subtitle>Masculino</mat-card-subtitle>
            <mat-card-title>Edad</mat-card-title>
            <mat-card-subtitle>27 años</mat-card-subtitle>
            <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        </mat-card-title-group>
    </mat-card-header>  
    <mat-card-actions>

    </mat-card-actions>
</mat-card>