<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Nombres y apellidos</mat-card-title>
                <mat-card-subtitle>{{sereno?.nombre}} {{sereno?.apellidos}}</mat-card-subtitle>
                <mat-card-title>Género</mat-card-title>
                <mat-card-subtitle>{{sereno?.genero ? 'Masculino': 'Femenino'}}</mat-card-subtitle>
                <mat-card-title>Edad</mat-card-title>
                <mat-card-subtitle>{{sereno?.edad}} años</mat-card-subtitle>
                <mat-card-title>Código de patrullaje</mat-card-title>
                <mat-card-subtitle *ngIf="clickedFilas.length > 0">{{ clickedFilas[clickedFilas.length - 1]['id_patrullaje'] }}</mat-card-subtitle>
                <mat-card-subtitle *ngIf="clickedFilas.length < 1">{{ sereno?.fk_patrullaje || 'Sereno sin grupo de patrullaje'}}</mat-card-subtitle>                
                <img mat-card-lg-image src="{{sereno?.imagen}}">
            </mat-card-title-group>
        </mat-card-header>   
        <mat-card-actions align="end">
          <button mat-raised-button color="accent" style="margin-right: 10px;" [routerLink]="['/serenazgo/serenos']">Cancelar</button>
          <button (click)="savePatrullaje(clickedFilas)" mat-raised-button color="primary" [disabled]="clickedFilas.length < 1">Guardar</button>
        </mat-card-actions>    
    </mat-card>
</div>

<br>

<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>
        {{sereno?.fk_patrullaje ? 'Asignar este sereno a otro grupo de patrullaje' : 'Añadir este sereno a un grupo de patrullaje' }}
      </mat-card-title>
      <mat-card-subtitle>Seleccionar fila de la tabla</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="patrullajes" class="mat-elevation-z8 demo-table" matSort>            
     
        <!-- Turno -->
        <ng-container matColumnDef="turno">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Turno</th>
          <td mat-cell *matCellDef="let element">{{element.turno}}</td>
        </ng-container>

        <!-- Placa -->
        <ng-container matColumnDef="placa">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Placa</th>
          <td mat-cell *matCellDef="let element">{{element.placa}}</td>
        </ng-container>
       
         <!-- N° Serenos -->
         <ng-container matColumnDef="num_sere">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>N° Serenos</th>
          <td mat-cell *matCellDef="let element">{{element.num_sere}}</td>
        </ng-container>

         <!-- Tipo de unidad -->
         <ng-container matColumnDef="tipo_unidad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Unidad</th>
          <td mat-cell *matCellDef="let element">{{element.tipo_unidad}}</td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="colum_patru"></tr>
          <tr
              mat-row
              (click)="clickedFilas.push(row)"
              *matRowDef="let row; columns: colum_patru;"
              ></tr>
            <!-- [class.demo-row-is-clicked]="clickedFilas.has(row)" -->

      </table>
      <mat-paginator [pageSizeOptions]="[10,20,30]"></mat-paginator>
    </mat-card-content>    
</mat-card>