<mat-card>
    <mat-card-header>
        <mat-card-title>Denuncias</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="data" >

            <!-- Id -->
            <ng-container matColumnDef="id_denuncia">
                <th mat-header-cell *matHeaderCellDef>Código</th>
                <td mat-cell *matCellDef="let element">{{element.id_denuncia}}</td>
            </ng-container>

            <!-- Fecha -->
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef>Fecha</th>
                <td mat-cell *matCellDef="let element">{{element.fecha | date}}</td>
            </ng-container>

            <!-- Hora -->
            <ng-container matColumnDef="hora">
                <th mat-header-cell *matHeaderCellDef>Hora</th>
                <td mat-cell *matCellDef="let element">{{element.hora | horaDenuncia}}</td>
            </ng-container>

            <!-- Delito -->
            <ng-container matColumnDef="delito">
                <th mat-header-cell *matHeaderCellDef>Delito</th>
                <td mat-cell *matCellDef="let element">{{element.delito}}</td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
            <tr mat-row *matRowDef="let row; columns: columnas"></tr>
        </table>
        <mat-paginator [pageSize]="5" #paginator [length]="resultsLength"></mat-paginator>
    </mat-card-content>
</mat-card>