.h1-title {
    margin-top: 0.7rem;
    margin-left: 1rem;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.child {
    min-width: 250px;
    flex-grow: 0;
    flex-basis: 47vw;
    margin-bottom: 20px;
}

.flex-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-form-clid {
    margin-right: 9px;
    flex-grow: 1;
}

@media screen and (max-width: 500px) {
    .child {
        flex-grow: 0;
        flex-basis: 95vw;
        margin-bottom: 20px;
    }
}

.flex-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-img-child {
    max-width: 100%;
}

