<h1 mat-dialog-title>Se necesita permisos de su ubicación</h1>
<div mat-dialog-content>
    <p>Conceder permisos y actualizar página</p>

    <div>
        <img src="./assets/dialog-ubication.png">
    </div>

    <a mat-button target="_blank" href="https://github.com/diegocruzne/front_sereno/blob/main/politicas.md">Términos y condiciones</a>


</div>
<!-- <div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Cerrar</button>
</div> -->