<form [formGroup]="form" autocomplete="off" (ngSubmit)="addEditUnidad()">
    <!-- <h2>{{data.id === undefined ? 'Nueva': 'Editar' }} Unidad</h2> -->
    <h2 mat-dialog-title>{{data.id === undefined ? 'Nueva': 'Editar' }} Unidad</h2>
    <mat-dialog-content style="height: 415px;">
        <!-- Placa -->
        <mat-form-field appearance="fill" style="width: 222px;">
            <mat-label>Ingrese placa</mat-label>
            <input matInput placeholder="Ejemplo: abc123" required formControlName="placa">
            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>

        <!-- Estado -->
        <div style="margin: 5px auto;">
            <label style="display: block; margin-bottom: 6px;">Seleccionar estado</label>
            <mat-radio-group aria-label="Select an option" formControlName="estado">
                <mat-radio-button value="0">Habilitado</mat-radio-button>
                <mat-radio-button value="1">Deshabilitado</mat-radio-button>
            </mat-radio-group>
        </div>

        <!-- Tipo de unidad -->
        <mat-form-field appearance="fill" style="margin-top: 13px; width: 222px;">
            <mat-label>Tipo de unidad</mat-label>
            <mat-select required formControlName="tipo_unidad">
                <mat-option value="1">Camioneta</mat-option>
                <mat-option value="2">Auto</mat-option>
                <mat-option value="3">Motocicleta</mat-option>
                <mat-option value="4">Camion</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Descripcion -->
        <mat-form-field appearance="fill" style="width: 222px;">
            <mat-label>Información adicional</mat-label>
            <textarea matInput formControlName="descripcion"></textarea>
        </mat-form-field>
        
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-raised-button color="warn" mat-dialog-close cdkFocusInitial>Cancelar</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="true" type="submit" [disabled]="form.invalid">
            {{data.id === undefined ? 'Aceptar': 'Editar' }}
        </button>
    </mat-dialog-actions>
</form>